/assets/js/Alex/23_jquery_basics/nbproject/private/
/assets/js/Alex/24_JQ_JQUI_Animal/nbproject/private/
/assets/js/Alex/25_Terminplaner/nbproject/private/
/assets/js/Alex/25_Terminplaner_php/nbproject/private/